{% extends "base.html" %}

{% block style %}

  <link rel="stylesheet" href="https://dn-geass-static.qbox.me/static/css/style.min.css?v=7"/>

{% end %}

{% block header %}

  <title>投票机</title>

{% end %}

{% block script %}

  <!--debug-->
  <script type="text/javascript">
      document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
          WeixinJSBridge.call('hideToolbar');
          WeixinJSBridge.call('showOptionMenu');
      });
  </script>

{% end %}

{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}
  </style>

  <div class="error" id="error">
   <div class="errorMsg">哦~好像没有找到要找的页面。。</div>
  </div>

{% end %}


{% block footer %}

  <script type="text/javascript">
  </script>

  <script type="text/javascript">
  </script>

{% end %}
