{% extends "base.html" %}

{% block html_style %}
<html style="background-color: #f3f3f3;">
{% end %}

{% block header %}

  <title>投票机</title>

{% end %}

{% block body_style %}
 <body class="darkBg" style="zoom: 1;">
{% end %}

{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}/*注意这里*/
  </style>

  <div class="warp" onselectstart="return false;"> 

   <div class="detailBox"> 

    <div id="allLabelBoxStop" class="hotLabel" style="display:none;">
     <div class="leftSideIcon all"></div><span>全部看法</span>
     <span class="sortCon fr db"><a href="javascript:;" class="db c6 f12 evtReplySort"><i class="iconReverse cf mr5 f16"></i>倒序排列</a></span> 
    </div> 
    <div class="topicList"> 
     <ul id="allReplyList" style="height: auto;"> 
     </ul> 
    </div> 
   </div> 

  </div> 
  <!--底部bar-->

  <script id="tmpl_reply" type="text/html">
      <%
      if (typeof(replyList) == 'undefined') {
      var replyList = data_list;
      }
      %>

      <% for (var i in replyList) { %>

      <% if (!isDOMExist('co_' + replyList[i].coid)) { %>
      <li id="co_<%=replyList[i].coid%>" class="borderBtm1" uId="<%=replyList[i].author_uid%>" author="<%= replyList[i].author %>" >

          <div class="f15 c3">
              <img data-src="<%=replyList[i].avatar%>" class="sImg brBig pa db" width="30" height="30" style="height:36px;width:36px;">
              <span class="commNick"><%= replyList[i].author %><% if (replyList[i].is_lz) { %>（作者）<%}%>：
              </span>
          </div>

          <div class="commWrap">
              <div class="commContent allowCopy">
                  <%== replyList[i].content %>
              </div>
              <% if (replyList[i].target.content) { %>
                  <div class="commReply">
                      <span>
                          <%== replyList[i].target.author %><% if (replyList[i].target.is_lz) { %>（作者）<%}%>：
                      </span>
                      <span>
                          <%== replyList[i].target.content %>
                      </span>
                  </div>
              <%}%>
          </div>

          <div class="operation pr">
              <span class="source db c6 f12 fl"><%== replyList[i].f_created_time %></span>
              <span class="replyShare db c9 fr f13">
                  <a href="javascript:;" class="like <% if (replyList[i].is_liked) { %>c13<%  } else { %>c9<%  } %>" coid="<%= replyList[i].coid %>" data-num="<%= replyList[i].like_num %>" > <i class="<% if (replyList[i].is_liked) { %>iconP<%  } else { %>iconNoP<%  } %>raise f18 cf"></i><% if (replyList[i].like_num) { %><%= replyList[i].like_num %> <%  } else { %>赞<%  } %></a>
                  <a class="c9 replyFloor" href="javascript:;" id="co_<%= replyList[i].coid %>" uid="<%= replyList[i].author_uid %>" author="<%= replyList[i].author %>"> <i class="iconReply f18 cf"></i></a>
              </span>
          </div>

      </li>
    <% } %>
    <% } %>
  </script>

  <script id="tmpl_replyForm" type="text/html">
    <div class="popLayer pSpace brNone" style="width:100%">
    <form method="post" id="replyForm">
        {% raw xsrf_form_html() %}
        <input type="hidden" name="tocoid" value="<%= data.toCoId %>">
        <div class="sendRCon">
            <textarea id="content" name="content" cols="" rows="" class="sInput f15" placeholder="写下你的评论"></textarea>
        </div>
        <div class="sendNav">
            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li><a id="cBtn" href="javascript:;" class="cancelNewBtn db fr c3 close">取消</a></li>
                <li><a id="comBtn" href="javascript:;" class="sendBtn db c2">发表</a>
                </li>
            </ul>
        </div>
        <div class="operatingBox">
            <div class="operatList tipLayer" style="display:none;margin:0;border:0;">
            </div>
            <div class="operatList photoTipsBox" style="display:none;height:213px;">
                <div class="photoList">
                    <ul>
                        <li class="on" id="addPic">
                        <input type="file" class="on needsclick" style="z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="uploadFile" accept="image/*" single>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </form>
    </div>
  </script>

  <script id="tmpl_sideBar" type="text/html">
  </script>

  <script id="tmpl_customTag" type="text/html">
  </script>

{% end %}


{% block footer %}

  <div class="bottomBar" id="bottomBar">
   <a href="javascript:;" class="item cf iconReply threadReply" id="to_reply">添加评论</a>
  </div>

  <div id="goTop" class="floatLayer br db" style="display: none;">
   <a href="javascript:;" class="upBtn cf db"></a>
  </div>

  <div class="emptyList"></div>

  <div class="loading" style="min-height: 23px;">
   <div id="loadNext">
    <div class="spinner">
     <span class="circleG" id="rotateG_01"></span>
     <span class="circleG" id="rotateG_02"></span>
     <span class="circleG" id="rotateG_03"></span>
     <span class="circleG" id="rotateG_04"></span>
     <span class="circleG" id="rotateG_05"></span>
     <span class="circleG" id="rotateG_06"></span>
     <span class="circleG" id="rotateG_07"></span>
     <span class="circleG" id="rotateG_08"></span>
    </div>正在加载...
   </div>
  </div>

  <div id="loadNextPos"></div> 

  <div class="hotLabel recommendTitle" style="display:none;">
  </div>

  <script type="text/javascript">
      var coParent = "{{ state['parent'] }}";
      var parentId = "{{ state['parent_id'] }}";
  </script>

  <script data-main="{{ static_url('js/comment.js') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}
