{% extends "base.html" %}

{% block script %}

  <!--debug-->
  <script type="text/javascript">
      document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
          WeixinJSBridge.call('hideToolbar');
          WeixinJSBridge.call('showOptionMenu');
      });
  </script>

{% end %}

{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}
  </style>

  <div class="error" id="error">
   <div class="errorMsg">{{ msg }}</div>
  </div>

{% end %}

{% block jweixin %}{% end %}

{% block footer %}

  <script type="text/javascript">
  </script>

{% end %}
