{% extends "base.html" %}

{% block html_style %}
<html style="background-color: #f3f3f3;">
{% end %}

{% block header %}

  <title>列表</title>

{% end %}

{% block body_style %}
 <body class="person" style="zoom: 1;">
{% end %}

{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}/*注意这里*/
  </style>

  <div class="switchBar">
   <ul class="groupBtn">
    <li class="selected" id="reply" >回复</li>
    <li id="support" >支持</li>
   </ul>
  </div>

  <div class="warp notice" onselectstart="return false;"> 

   <div class="listWrap pr" >
    <ul id="list" style="height: auto;">
    </ul>
   </div>

   <div id="loadNextPos"></div> 

  </div> 
  <!--底部bar-->

  <script id="tmpl_topics" type="text/html">

    <%
    if (typeof(noticeList) == 'undefined') {
        var noticeList = data_list;
    }
    %>

    <% for (var i in noticeList) { %>
        <% if (noticeList[i].action < 5) { %>
            <% include('notice_topic', noticeList[i]) %>
        <% } else if (noticeList[i].action > 4 && noticeList[i].action < 8) { %>
            <% include('notice_opinion', noticeList[i]) %>
        <% } %>
    <% } %>

  </script>

  <script id="notice_topic" type="text/html">
    <% if (!isDOMExist('t_' + tid)) { %>
    <li class="" id="t_<%=tid%>" >

        <div class="topicWrap" data-link="/topic?tid=<%=tid%>" >

            <div class="textContainer">
             <div class="authorList">
                 <a href="javascript:;"><%= senders.join('、') %></a><%if (count > 2) { %>…等 <%= count %> 人<% } %><% if (action == 2) { %>对该话题发表了看法<% } else if (action == 3) { %>评论了该话题<% } else if (action == 4) { %>回复了该话题下你的评论<% } %>
             </div>

             <h3 class="text">
                 <%= title %>
             </h3>
            </div>

        </div>

    </li>
    <% } %>
  </script>

  <script id="notice_opinion" type="text/html">

    <% if (!isDOMExist('o_' + oid)) { %>
    <li class="" id="o_<%=oid%>" >

        <div class="topicWrap" data-link="/opinion?tid=<%= tid %>&oid=<%= oid %>" >

            <div class="textContainer">
             <div class="authorList">
                 <a href="javascript:;"><%= senders.join('、') %></a><%if (count > 2) { %>…等 <%= count %> 人<% } %><% if (action == 5) { %>评论了该看法<% } else if (action == 6) { %>回复了该看法下你的评论<% } else if (action == 7) { %>赞同了你的看法<% } %>
             </div>

             <h3 class="text">
                 <%= title %>
             </h3>

             <div>
                <a class="voteCount" href="javascript:;" ><% if (approve_num) { %> <%= approve_num %> <%  } else { %>0<%  } %></a>

                <div class="listContent">
                    <%== content %>
                </div>
             </div>
            </div>

        </div>

    </li>
    <% } %>

  </script>

  <script id="tmpl_comments" type="text/html">

    <%
    if (typeof(commentList) == 'undefined') {
        var commentList = data_list;
    }
    %>

    <% for (var i in commentList) { %>

    <% if (!isDOMExist('co_' + commentList[i].coid)) { %>
    <li class="comments" id="co_<%=commentList[i].coid%>" >

        <div class="f15 c3">
            <img data-src="<%=commentList[i].avatar%>" class="sImg brBig pa db" width="30" height="30" style="height:30px;width:30px;">
            <span class="commNick"><%= commentList[i].author %><% if (commentList[i].is_lz) { %>（作者）<%}%>：
            </span>
        </div>

        <div class="commWrap topicWrap" data-link="/comment_list?tid=<%=commentList[i].tid%><% if (commentList[i].pid) { %>&pid=<%=commentList[i].pid%><%}%>" >
            <div class="commContent allowCopy">
                <%== commentList[i].content %>
            </div>
            <% if (commentList[i].target.content) { %>
                <div class="commReply">
                    <span>
                        我：
                    </span>
                    <span>
                        <%== commentList[i].target.content %>
                    </span>
                </div>
            <%}%>
        </div>

        <div class="info">
            <div>
                <span>
                    <span class="time"><%= commentList[i].f_created_time %></span>
                </span>
            </div>
            <div class="flRight">
                <a class="c9 replyFloor" href="javascript:;" id="co_<%= commentList[i].coid %>" tid="<%= commentList[i].tid %>" pid="<%= commentList[i].pid %>" author="<%= commentList[i].author %>"> <i class="iconReply f18 cf"></i></a>
            </div>
        </div>

    </li>
    <% } %>
    <% } %>

  </script>

  <script id="tmpl_replyForm" type="text/html">
    <div class="popLayer pSpace brNone" style="width:100%">
    <form method="post" id="replyForm">
        {% raw xsrf_form_html() %}
        <input type="hidden" name="tid" value="<%= data.tId %>">
        <input type="hidden" name="pid" value="<%= data.pId %>">
        <input type="hidden" name="tocoid" value="<%= data.toCoId %>">
        <div class="sendRCon">
            <textarea id="content" name="content" cols="" rows="" class="sInput f15" placeholder="写下你的评论..."></textarea>
        </div>
        <div class="sendNav">
            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li><a id="cBtn" href="javascript:;" class="cancelNewBtn brSmall f13 db fr c3 close">取消</a></li>
                <li><a id="comBtn" href="javascript:;" class="sendBtn brSmall f13 db c2">发送</a>
                </li>
            </ul>
        </div>
        <div class="operatingBox">
            <div class="operatList tipLayer" style="display:none;margin:0;border:0;">
            </div>
            <div class="operatList photoTipsBox" style="display:none;height:213px;background-color:#efefef;border-top:1px solid #e2e2e2;">
                <div class="photoList">
                    <ul>
                        <li class="on" id="addPic">
                        <input type="file" class="on needsclick" style="z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="uploadFile" accept="image/*" single>
                        </li>
                    </ul>
                    <p class="textTip f12">还可上传<span id="onlyUploadNum">8</span>张照片呦~</p>
                </div>
            </div>

        </div>
    </form>
    </div>
  </script>

{% end %}


{% block footer %}

  <div id="goTop" class="floatLayer br db" style="display: none;">
   <a href="javascript:;" class="upBtn cf db"></a>
  </div>

  <div class="emptyList"></div>

  <div class="loading" id="loadNext" >
   <div class="spinner">
    <span class="circleG" id="rotateG_01"></span>
    <span class="circleG" id="rotateG_02"></span>
    <span class="circleG" id="rotateG_03"></span>
    <span class="circleG" id="rotateG_04"></span>
    <span class="circleG" id="rotateG_05"></span>
    <span class="circleG" id="rotateG_06"></span>
    <span class="circleG" id="rotateG_07"></span>
    <span class="circleG" id="rotateG_08"></span>
   </div>正在加载...
  </div> 

  <div class="hotLabel recommendTitle" style="display:none;">
  </div>

  <script type="text/javascript">
  </script>

  <script type="text/javascript">
    var shareUrl = 'http://m.wsq.qq.com/264151824/t/3569?_wv=1&source=custom',
    shareTitle = '分享自#你怎么看#',
    shareDesc = '真是难为编剧了，上一部飞机、坦克、大炮都用完了，这一部玩起了空中飞车。真期待下一部导演和编剧会...',
    shareImgUrl = 'http://shp.qlogo.cn/gqclogo/0/264151824/200?max-age=2592000&amp;t=1426579479';
  </script>

  <script data-main="{{ static_url('js/notice_list.js') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}
