{% extends "base.html" %}

{% block html_style %}
<html style="background-color: #f3f3f3;">
{% end %}

{% block header %}

  <title>列表</title>

{% end %}

{% block body_style %}
 <body class="person" style="zoom: 1;">
{% end %}

{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}/*注意这里*/
  </style>

  <div class="switchBar">
   <ul class="groupBtn">
    <li class="selected" id="reply" ><span class="iconBars cf"></span></li>
    <li id="support" >
     <span class="iconHeart cf"></span>
     <span class="notiNumber" style="display:none;"></span>
    </li>
   </ul>
  </div>

  <div class="warp notice" style="padding-top:48px;" onselectstart="return false;"> 

   <div class="listWrap pr" >
    <ul id="list" style="height:auto;">
    </ul>
   </div>

   <div id="loadNextPos"></div> 

  </div> 
  <!--底部bar-->

  <script id="tmpl_noticeList" type="text/html">

    <%
    if (typeof(noticeList) == 'undefined') {
        var noticeList = data_list;
    }
    %>

    <% for (var i in noticeList) { %>
        <% if (noticeList[i].action < 5) { %>
            <% include('notice_topic', noticeList[i]) %>
        <% } else if (noticeList[i].action > 4 && noticeList[i].action < 8) { %>
            <% include('notice_opinion', noticeList[i]) %>
        <% } %>
    <% } %>

  </script>

  <script id="notice_topic" type="text/html">
    <% if (!isDOMExist('t_' + tid)) { %>
    <li <%if (!isread) { %>class="unread"<% } %> id="t_<%=tid%>" >

        <div class="topicWrap" data-link="<%if (action == 3 || action == 4) { %>/comment_list?parent=topics&parent_id=<%=tid%><% } else { %>/topic?tid=<%=tid%><% } %>" >

            <div class="textContainer">
             <div class="authorList">
                 <a href="javascript:;"><%= senders.join('、') %></a><%if (count > 2) { %>…等 <%= count %> 人<% } %><% if (action == 1) { %>对该话题添加了选项<% } else if (action == 2) { %>对该话题发表了看法<% } else if (action == 3) { %>评论了该话题<% } else if (action == 4) { %>回复了该话题下你的评论<% } %>
             </div>

             <h3 class="text">
                 <%= title %>
             </h3>
            </div>

        </div>

    </li>
    <% } %>
  </script>

  <script id="notice_opinion" type="text/html">

    <% if (!isDOMExist('o_' + oid)) { %>
    <li <%if (!isread) { %>class="unread"<% } %> id="o_<%=oid%>" >

        <div class="topicWrap" data-link="<%if (action == 5 || action == 6) { %>/comment_list?parent=opinions&parent_id=<%= oid %><% } else { %>/opinion?tid=<%= tid %>&oid=<%= oid %><% } %>" >

            <div class="textContainer">
             <div class="authorList">
                 <a href="javascript:;"><%= senders.join('、') %></a><%if (count > 2) { %>…等 <%= count %> 人<% } %><% if (action == 5) { %>评论了该看法<% } else if (action == 6) { %>回复了该看法下你的评论<% } else if (action == 7) { %>赞同了你的看法<% } %>
             </div>

             <h3 class="text">
                 <%= topic_title %>
             </h3>

             <div>
                <a class="approveCount" href="javascript:;" ><% if (approve_num) { %> <%= approve_num %> <%  } else { %>0<%  } %></a>

                <div class="listContent">
                    <%== content %>
                </div>
             </div>
            </div>

        </div>

    </li>
    <% } %>

  </script>

{% end %}


{% block footer %}

  <div id="goTop" class="floatLayer br db" style="display: none;">
   <a href="javascript:;" class="upBtn cf db"></a>
  </div>

  <div class="emptyList"></div>

  <div class="loading" id="loadNext" >
   <div class="spinner">
    <span class="circleG" id="rotateG_01"></span>
    <span class="circleG" id="rotateG_02"></span>
    <span class="circleG" id="rotateG_03"></span>
    <span class="circleG" id="rotateG_04"></span>
    <span class="circleG" id="rotateG_05"></span>
    <span class="circleG" id="rotateG_06"></span>
    <span class="circleG" id="rotateG_07"></span>
    <span class="circleG" id="rotateG_08"></span>
   </div>正在加载...
  </div> 

  <div class="hotLabel recommendTitle" style="display:none;">
  </div>

  <script type="text/javascript">
  </script>

  <script type="text/javascript">
    var shareUrl = 'http://m.wsq.qq.com/264151824/t/3569?_wv=1&source=custom',
    shareTitle = '分享自#你怎么看#',
    shareDesc = '真是难为编剧了，上一部飞机、坦克、大炮都用完了，这一部玩起了空中飞车。真期待下一部导演和编剧会...',
    shareImgUrl = 'http://shp.qlogo.cn/gqclogo/0/264151824/200?max-age=2592000&amp;t=1426579479';
  </script>

  <script data-main="{{ static_url('js/notice_list.js') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}
