{% extends "base.html" %}


{% block header %}

  <title>你怎么看</title>

{% end %}


{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}/*注意这里*/
  </style>

  <div class="warp" style="display:none;" onselectstart="return false;"> 
  </div>

  <script id="tmpl_proposal" type="text/html">

   <div class="detail" data-link="/topic?tid=<%= proposal.tid %>">
    <div class="detailTitle pr">
     <%= proposal.topic_title %>
    </div>
   </div>

   <div class="detailBox">
    <div class="topicCon">

     <div class="titleWrap proposal">

      <div class="voteWrap">
       <div class="opWrap">
           <a class="voteCount <% if (proposal.is_voted) { %>voted<%  } %> vote" href="javascript:;" pId="<%= proposal.pid %>" data-num="<%= proposal.vote_num %>" <% if (proposal.is_voted) { %>style="background:<%= colorList[{{state['pos']}}%10] %>"<%  } %> ><% if (proposal.vote_num) { %> <%= proposal.vote_num %> <%  } else { %>0<%  } %></a>
           <div class="opoutbar fl">
               <div class="opbar" ></div>
           </div>
           <div class="oppi f14"></div>
       </div>
      </div>

      <div class="titleDetail allowCopy c11"><%= proposal.title %></div>
      <textarea id="editTitle" style="display:none;"><%== proposal.title %></textarea>

     </div>

     <div class="detailCon c11 allowCopy"> 

      <div class="dCon f17">
        <%== proposal.content.replace(/\n/g, '<br>') %>
      </div>
      <textarea id="editCon" style="display:none;"><%== proposal.content %></textarea>

      <div class="threadPic pr"> 

      <% for (var i in proposal.picture_urls) { %>
        <span> <img class="dImg" data-src="<%= proposal.picture_urls[i]['origin'] %>"/> </span>
      <% } %>

      </div>

      <div class="detailTime"> 
       <span class="authorList fr">由<a href="javascript:;"><%= proposal.authors.join('、') %></a><%if (proposal.author_count > 2) { %>…等 <%= proposal.author_count %> 人<% } %>编辑</span>
      </div>
     </div>
    </div>
   </div>

  </script>

  <script id="tmpl_replyForm" type="text/html">
    <div class="popLayer pSpace brNone" style="width:100%">
    <form method="post" id="replyForm">
        {% raw xsrf_form_html() %}
        <% if (data.formType == 'proposal') { %>
        <div class="sendTit pr">
            <textarea id="title" name="title" cols="" rows="" class="sInput f15" placeholder="写下你的选项"></textarea> 
        </div>
        <% } %>

        <div class="sendRCon">
            <textarea id="content" name="content" cols="" rows="" class="sInput f15" placeholder="<% if (data.formType == 'proposal') { %>描述（可选）<% } else { %>写下你的看法<% } %>"></textarea>
        </div>

        <div class="sendInfo wot pr">
            <%if (data.isAnonymBox) { %>
                <label class="f13 fl">
                 <input type="checkbox" name="isanon" value="1">
                 匿名
                </label>
            <% } %>
        </div>

        <div class="sendNav">
            <ul>
                <li class="pr uploadPicBox">
                    <a data-id='1' href="javascript:;" class="operatIcon iconSendImg db f21 c9 cf pr" style="z-index:1;"></a>
                    <input type="file" class="pa" style="height:100%;width:100%;left:0;top:0;z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="fistUploadFile" accept="image/*" single="" />
                </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li><a id="cBtn" href="javascript:;" class="cancelNewBtn brSmall f13 db fr c3 close">取消</a></li>
                <li><a id="comBtn" href="javascript:;" class="sendBtn brSmall f13 db c2">发送</a>
                </li>
            </ul>
        </div>
        <div class="operatingBox">
            <div class="operatList tipLayer" style="display:none;margin:0;border:0;">
            </div>
            <div class="operatList photoTipsBox" style="display:none;height:auto;background-color:#efefef;border-top:1px solid #e2e2e2;">
                <div class="photoList">
                    <ul>
                        <li class="on" id="addPic">
                        <input type="file" class="on needsclick" style="z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="uploadFile" accept="image/*" single>
                        </li>
                    </ul>
                    <p class="textTip f12">还可上传<span id="onlyUploadNum">8</span>张照片呦~</p>
                </div>
            </div>

        </div>
    </form>
    </div>
  </script>

{% end %}


{% block footer %}

  <div class="bottomBar pr" id="bottomBar" style="display:none;">
   <a href="javascript:;" class="item cf iconEdit2 threadReply">编辑</a>
   <a href="/personal" class="item cf iconUser">我的</a>
  </div>

  <div id="goTop" class="floatLayer br db" style="display: none;">
   <a href="javascript:;" class="upBtn cf db"></a>
  </div>

  <div class="loading" id="loadNext" > 
   <div class="spinner">
    <span class="circleG" id="rotateG_01"></span>
    <span class="circleG" id="rotateG_02"></span>
    <span class="circleG" id="rotateG_03"></span>
    <span class="circleG" id="rotateG_04"></span>
    <span class="circleG" id="rotateG_05"></span>
    <span class="circleG" id="rotateG_06"></span>
    <span class="circleG" id="rotateG_07"></span>
    <span class="circleG" id="rotateG_08"></span>
   </div>正在加载...
  </div> 

  <div class="hotLabel recommendTitle" style="display:none;">
  </div>

  <script type="text/javascript">
    var tId = "{{ state['tid'] }}",
        pId = "{{state['pid']}}",
        pos = {{state['pos']}};
  </script>

  <script type="text/javascript">
    var shareUrl = 'http://m.wsq.qq.com/264151824/t/3569?_wv=1&source=custom',
    shareTitle = '分享自#你怎么看#',
    shareDesc = '真是难为编剧了，上一部飞机、坦克、大炮都用完了，这一部玩起了空中飞车。真期待下一部导演和编剧会...',
    shareImgUrl = 'http://shp.qlogo.cn/gqclogo/0/264151824/200?max-age=2592000&amp;t=1426579479';
  </script>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script>
    {% set sign_package = state['sign_package'] %}
    wx.config({
      debug: false,
      appId: "{{ sign_package['appId'] }}",
      timestamp: {{ sign_package['timestamp'] }},
      nonceStr: "{{ sign_package['nonceStr'] }}",
      signature: "{{ sign_package['signature'] }}",
      jsApiList: ['previewImage']
    });
  </script>

  <script data-main="{{ static_url('js/proposal.js') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}
