{% extends "base.html" %}


{% block header %}

  <title>发表话题</title> 

{% end %}


{% block body %}

  <div class="warp"> 
   <form method="post" action="/api/v1/topics" id="newthread">
    {% raw xsrf_form_html() %}

    <div class="sendTit pr">
     <span class="tagTopic db pa" style="width:50px;display:none;"></span> 
     <textarea id="title" name="title" cols="" rows="" class="sInput f15" placeholder="写下你的话题"></textarea> 
    </div>

    <div class="sendCon pr"> 
     <span class="tagTopic db pa" style="width:50px;display:none;"></span> 
     <textarea id="content" name="content" cols="" rows="" class="sInput f15" placeholder="添加补充说明（可选）"></textarea> 
    </div> 

    <div class="sendInfo wot pr">
     <label class="checkLabel">
      <div class="checkHead">
       <input type="checkbox" class="check" name="isanon" value="1">
       <i class="iconChecked cf"></i>
      </div>
      <div class="checkInfo">
       <p class="f13">匿名</p>
      </div>
     </label>
    </div>

    <div class="sendNav">
     <ul>
      <li class="pr">
        <a data-id="1" href="javascript:;" class="operatIcon iconSendImg db f21 c9 cf pr fl" style="margin-left:15px;z-index:1;"></a>
        <input type="file" class="pa" style="height:100%;width:100%;left:0;top:0;z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="fistUploadFile" accept="image/*" single="" />
      </li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>
       <a href="javascript:;" class="sendBtn db c2" id="submitButton">发表</a> 
      </li>
     </ul>
    </div>

    <div class="photoList" style="display:none;background-color:#fafafa;"> 
     <ul> 
      <li class="on" id="addPic"> <input type="file" class="on needsclick" style="z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="uploadFile" accept="image/*" single="" /> </li> 
     </ul> 
    </div> 

    <div class="operatingBox"> 
     <div class="operatList tipLayer" style="display:none;margin:0;border:0;"> 

      <div class="expreBox" style="display:none;" id="expreBox"> 
       <div class="expressionTab pr"> 
        <div class="expressionMenu" style="position: relative;"> 
         <a href="javascript:;" class="on" id="emo0" title="默认">默认</a>
        </div>
        <a href="javascript:;" class="eR db iconArrowR cf pa c9" style="display:none;"></a>
       </div>
       <div class="expreList" id="expreList"> 
        <ul class="expreCon expreConNew" id="exp_emo0" style="position: relative;"> 
        </ul>
       </div>
       <p class="pNumCon" id="exp_emo0_page"> <a href="javascript:;" class=" on  pNum db"></a> <a href="javascript:;" class=" pNum db"></a> <a href="javascript:;" class=" pNum db"></a> <a href="javascript:;" class=" pNum db"></a> <a href="javascript:;" class=" pNum db"></a> </p> 
      </div>
     </div>
     <div class="operatList photoTipsBox" style="padding:23px 15px 15px;height:40px;display:none;"> 
     </div>
     <div class="operatList tagBox" style="display:none;"> 
     </div>
    </div>
   </form>
  </div>

{% end %}

{% block footer %}

  <script>
      var share = {
          title: 'There - 投票社区',
          desc: 'There 是一个社区化的数据调查平台，在这里用户可以温和地表达自己的意愿和态度，分享彼此的看法和见解。通过数据分析，There 能够帮助展示分歧和意见分布，促进达成共识，为中文互联网提供有价值的参考数据。',
          imgUrl: 'http://geass.me/static/img/share.jpg',
          link: 'http://geass.me/',
      };

      wx.ready(function(){
          wx.showMenuItems({
              menuList: [
                  'menuItem:profile',
                  'menuItem:addContact',
              ]
          });

          wx.onMenuShareAppMessage(share);
          wx.onMenuShareQQ(share);
          wx.onMenuShareTimeline(share);
          wx.onMenuShareQZone(share);
          wx.onMenuShareWeibo(share);
      });
  </script>

  <script data-main="{{ static_url('js/new.js') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}

