{% extends "base.html" %}

{% block html_style %}
<html style="background-color: #f3f3f3;">
{% end %}

{% block header %}

  <title>你怎么看</title>

{% end %}

{% block body_style %}
 <body class="darkBg" style="zoom: 1;">
{% end %}

{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}/*注意这里*/
  </style>

  <div class="warp" style="display:none;" onselectstart="return false;"> 

   <div class="detailBox">

    <div class="topicInfo">
     <span class="db c9 fl f13" style="display:none;"></span>
     <a id="" href="javascript:;" class="followBtn f14 c2 fr">关注</a>
    </div>

    <div class="topicBtn">
      <a href="javascript:;" class="threadReply" data-type="proposal"><i class="iconReply f18 cf"></i>添加选项</a>
      <a href="javascript:;" class="threadReply" data-type="opinion"><i class="iconReply f18 cf"></i>添加看法</a>
    </div>

    <div id="hotLabelBox" class="hotLabel" style="display:none;">
     <div class="leftSideIcon"></div><span>选项</span>
    </div>

    <div class="topicList proposal proposaList">
     <ul id="hotReplyList">
     </ul>

     <a href="javascript:;" class="loadMore" style="display:none;"><span>显示更多选项</span></a>
    </div>

    <div id="allLabelBox" class="hotLabel" style="display:none;">
     <div class="leftSideIcon all"></div><span>看法</span>
    </div>

    <div id="opinionList" class="topicList opinion">
     <ul id="allReplyList" style="height: auto;"> 
     </ul>
    </div>

   </div>

   <div class="loading" id="showAll" style="display:none;">
    已显示全部
   </div> 
   <div class="loading" id="showAllReply" style="display:none;">
    点击查看全部回复
   </div> 

   <div id="loadNextPos"></div> 

  </div>

  <script id="tmpl_topic" type="text/html">

    <div class="topicCon topic">
     <div class="titleWrap c11">

      <div class="titleDetail allowCopy"><%= topic['title'] %></div>

     </div>

     <div class="detailCon c14 allowCopy">
      <div class="dCon f15">
        <%== topic['content'].replace(/\n/g, '<br>') %>
      </div>
      <div class="threadPic pr">

      <% for (var i in topic['picture_urls']) { %>
        <span> <img class="dImg" data-src="<%= topic['picture_urls'][i]['origin'] %>"/> </span>
      <% } %>

      </div>

     </div>

    </div>

  </script>

  <script id="tmpl_proposals" type="text/html">
      <%
      if (typeof(proposals) == 'undefined') {
          var proposals = data_list;
              startPos = startPos || 0;
      }
      %>

      <% for (var i=0;i<proposals.length;i++) { %>

      <% if (!isDOMExist('p_' + proposals[i].tid + '_' + proposals[i].pid)) { %>
      <li id="p_<%=proposals[i].tid%>_<%=proposals[i].pid%>" uId="<%=proposals[i].author_uid%>" author="<%= proposals[i].author %>">

          <div class="proposalWrap" data-link="/proposal?tid=<%=proposals[i].tid%>&pid=<%=proposals[i].pid%>&pos=<%=startPos + i%>" >
              <%if (proposals[i].picture_urls.length > 0) { %>
                  <div class="imgGallary">
                      <img src="<%=getWinParams('IMG_LOADING');%>" data-src="<%= proposals[i].picture_urls[0]['thumb'] %>" >
                      <%if (proposals[i].picture_urls.length > 1) { %>
                          <div class="picCount"><%= proposals[i].picture_urls.length %>图</div>
                      <% } %>
                  </div>
              <% } %>

              <div class="<%if (proposals[i].picture_urls.length > 0) { %>imgContainer<% } else{ %>textContainer<% } %>">
                  <div class="listContent ">
                      <%== proposals[i].content %>
                  </div>
              </div>

              <div class="opWrap">
                  <a class="voteCount <% if (proposals[i].is_voted) { %>voted<%  } %> vote" href="javascript:;" pId="<%= proposals[i].pid %>" data-num="<%= proposals[i].vote_num %>"><% if (proposals[i].vote_num) { %> <%= proposals[i].vote_num %> <%  } else { %>0<%  } %></a>

                  <div class="opoutbar fl">
                      <div class="opbar" ></div>
                  </div>
                  <div class="oppi f14"></div>
              </div>

          </div>

      </li>

    <% } %>
    <% } %>

  </script>

  <script id="tmpl_opinions" type="text/html">
      <%
      if (typeof(opinions) == 'undefined') {
          var opinions = data_list;
      }
      %>

      <% for (var i in opinions) { %>

      <% if (!isDOMExist('p_' + opinions[i].tid + '_' + opinions[i].oid)) { %>
      <li id="p_<%=opinions[i].tid%>_<%=opinions[i].oid%>" uId="<%=opinions[i].author_uid%>" author="<%= opinions[i].author %>">

          <img src="<%=getWinParams('IMG_LOADING');%>" data-src="<%=opinions[i].avatar%>" class="sImg brBig pa db" width="20" height="20">

          <a class="approveCount" href="javascript:;" oId="<%= opinions[i].oid %>"><% if (opinions[i].approve_num) { %> <%= opinions[i].approve_num %> <%  } else { %>0<%  } %></a>

          <div class="opinionWrap" data-link="/opinion?tid=<%=opinions[i].tid%>&oid=<%=opinions[i].oid%>" >
              <%if (opinions[i].picture_urls.length > 0) { %>
                  <div class="imgGallary">
                      <img src="<%=getWinParams('IMG_LOADING');%>" data-src="<%= opinions[i].picture_urls[0]['thumb'] %>" >
                      <%if (opinions[i].picture_urls.length > 1) { %>
                          <div class="picCount"><%= opinions[i].picture_urls.length %>图</div>
                      <% } %>
                  </div>
              <% } %>

              <div class="textContainer">
                  <h3 class="text">
                      <%= opinions[i].author %>
                  </h3>

                  <div class="listContent ">
                      <%== opinions[i].content %>
                  </div>
              </div>

              <%if (false) { %>
                  <div class="info">
                      <div>
                          <span>
                              <span class="time"><%= opinions[i].f_created_time %></span>
                          </span>
                      </div>
                      <div class="flRight">
                      </div>
                  </div>
              <% } %>

          </div>

      </li>
    <% } %>
    <% } %>
  </script>

  <script id="tmpl_replyForm" type="text/html">
    <div class="popLayer pSpace brNone" style="width:100%">
    <form method="post" id="replyForm">
        {% raw xsrf_form_html() %}
        <div class="sendRCon">
            <textarea id="content" name="content" cols="" rows="" class="sInput f15" placeholder="写下你的看法..."></textarea>
        </div>

        <div class="sendInfo wot pr">
            <%if (!data.isLZ) { %>
                <label class="f13 fl">
                 <input type="checkbox" name="isanon" value="1">
                 匿名
                </label>
            <% } %>
        </div>

        <div class="sendNav">
            <ul>
                <li class="pr uploadPicBox">
                    <a data-id='1' href="javascript:;" class="operatIcon iconSendImg db f21 c9 cf pr" style="z-index:1;"></a>
                    <input type="file" class="pa" style="height:100%;width:100%;left:0;top:0;z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="fistUploadFile" accept="image/*" single="" />
                </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li><a id="cBtn" href="javascript:;" class="cancelNewBtn brSmall f13 db fr c3 close">取消</a></li>
                <li><a id="comBtn" href="javascript:;" class="sendBtn brSmall f13 db c2">发送</a>
                </li>
            </ul>
        </div>
        <div class="operatingBox">
            <div class="operatList tipLayer" style="display:none;margin:0;border:0;">
            </div>
            <div class="operatList photoTipsBox" style="display:none;height:auto;background-color:#efefef;border-top:1px solid #e2e2e2;">
                <div class="photoList">
                    <ul>
                        <li class="on" id="addPic">
                        <input type="file" class="on needsclick" style="z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="uploadFile" accept="image/*" single>
                        </li>
                    </ul>
                    <p class="textTip f12">还可上传<span id="onlyUploadNum">8</span>张照片呦~</p>
                </div>
            </div>

        </div>
    </form>
    </div>
  </script>

{% end %}


{% block footer %}

  <div class="bottomBar pr" id="bottomBar" style="display:none;">
   <a href="/comment_list?parent=topics&parent_id={{ state['tid'] }}" class="item cf iconReply"></a>
   <a href="/personal" class="item cf iconUser">我的</a>
  </div>

  <div id="goTop" class="floatLayer br db" style="display: none;">
   <a href="javascript:;" class="upBtn cf db"></a>
  </div>

  <div id="emptyList" class="emptyList"></div>

  <div class="loading" id="loadNext">
   <div class="spinner">
    <span class="circleG" id="rotateG_01"></span>
    <span class="circleG" id="rotateG_02"></span>
    <span class="circleG" id="rotateG_03"></span>
    <span class="circleG" id="rotateG_04"></span>
    <span class="circleG" id="rotateG_05"></span>
    <span class="circleG" id="rotateG_06"></span>
    <span class="circleG" id="rotateG_07"></span>
    <span class="circleG" id="rotateG_08"></span>
   </div>正在加载...
  </div> 

  <div class="hotLabel recommendTitle" style="display:none;">
  </div>

  <script type="text/javascript">
      var tId = "{{ state['tid'] }}";
  </script>

  <script type="text/javascript">
    var shareUrl = 'http://m.wsq.qq.com/264151824/t/3569?_wv=1&source=custom',
    shareTitle = '分享自#你怎么看#',
    shareDesc = '真是难为编剧了，上一部飞机、坦克、大炮都用完了，这一部玩起了空中飞车。真期待下一部导演和编剧会...',
    shareImgUrl = 'http://shp.qlogo.cn/gqclogo/0/264151824/200?max-age=2592000&amp;t=1426579479';
  </script>

  <script data-main="{{ static_url('js/detail.js') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}
