<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}
    <title>There 后台</title>
    {% end %}

    <link href="{{ static_url('css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/vendor/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/vendor/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% block body %}{% end %}

    <script src="{{ static_url('js/vendor/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/vendor/metisMenu.min.js') }}"></script>
    <script src="{{ static_url('js/main.js') }}"></script>

    {% block footer %}{% end %}

</body>

</html>
