{% extends "base.html" %}


{% block header %}

  <title>龙门客栈</title>

  <script type="text/javascript">
      var tId = "{{result['tId']}}";
  </script>

{% end %}


{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}/*注意这里*/
  </style>

  <div class="warp" onselectstart="return false;"> 

   <div class="topicM worldC" style="display:none;" id="pEvent">
    <img class="topicMImg" src="" alt="图片" id="pEventImg" />
   </div> 

   <div class="detail" style="display: none;"> 
    <div class="detailTitle pr">
     <h2 class="c6 f16">话题来自：<span class="c7">龙门客栈</span></h2> 
     <span class="iconArrowR db pa c9 cf"></span> 
    </div> 
   </div> 

   <div class="detailBox"> 

    <div id="allLabelBoxStop" class="hotLabel" style=""> 
     <div class="leftSideIcon all"></div><span>全部看法</span>
     <span class="sortCon fr db"><a href="javascript:;" class="db c6 f12 evtReplySort"><i class="iconReverse cf mr5 f16"></i>倒序排列</a></span> 
    </div> 
    <div class="topicList"> 
     <ul id="allReplyList" style="height: auto;"> 
     </ul> 
    </div> 
   </div> 

   <div class="loading" id="loadNext" style="display: none;"> 
    <div class="loadicon"> 
     <span class="blockG" id="rotateG_01"></span> 
     <span class="blockG" id="rotateG_02"></span> 
     <span class="blockG" id="rotateG_03"></span> 
     <span class="blockG" id="rotateG_04"></span> 
     <span class="blockG" id="rotateG_05"></span> 
     <span class="blockG" id="rotateG_06"></span> 
     <span class="blockG" id="rotateG_07"></span> 
     <span class="blockG" id="rotateG_08"></span> 
    </div> 正在加载... 
   </div> 

   <div class="loading" id="showAll" style="display:none;">
    已显示全部
   </div> 
   <div class="loading" id="showAllReply" style="display:none;">
    点击查看全部回复
   </div> 
   <div id="loadNextPos"></div> 

  </div> 
  <!--底部bar-->

  <script id="tmpl_reply" type="text/html">
      <%
      if (typeof(replyList) == 'undefined') {
      var replyList = dataList;
      }
      if (typeof(tmplType) == 'undefined') {
          var tmplType = 'all';
      }
      %>

      <% for (var i in replyList) { %>

      <% if (!isDOMExist('p_' + replyList[i].pId) && ((tmplType==='hot' && replyList[i].hotReply) || (tmplType!='hot' && !replyList[i].hotReply))) { %>
      <li id="p_<%=replyList[i].pId%>" uId="<%=replyList[i].authorUid%>" author="<%= replyList[i].author %>" >

          <div class="f15 c3 replyUser">
              <a href="/profile/<%=replyList[i].authorUid%>"> <img src="<%=getWinParams('IMG_LOADING');%>" data-src="<%=replyList[i].avatar%>" class="sImg brBig pa db" width="20" height="20"></a>
              <span class="commNick"><%= replyList[i].author %><% if (replyList[i].isLZ) { %> <i class="cardBtn br fn db c2">楼主</i><%}%><% if (replyList[i].toAuthor) { %> 回复 <%=replyList[i].toAuthor%><% } %>：
              </span>
          </div>

          <div class="commContent">
              <%== replyList[i].content %>
          </div>

          <div class="operation pr">
          <span class="source db c6 f12 fl"><%== replyList[i].hCreatedTime %></span>
          <span class="replyShare db c9 fr f13">
              <a href="javascript:;" class="like c9" pId="<%= replyList[i].pId %>"> <i class="<% if (replyList[i].liked) { %>iconP<%  } else { %>iconNoP<%  } %>raise f18 cf"></i><% if (replyList[i].likeNum) { %><%= replyList[i].likeNum %> <%  } else { %>赞<%  } %></a>
              <a class="c9 replyFloor" href="javascript:;" id="p_<%= replyList[i].pId %>" uid="<%= replyList[i].authorUid %>" author="<%= replyList[i].author %>"> <i class="iconReply f18 cf"></i></a>
          </span>
          <div class="replyPop" <%if (!replyList[i].floorList) { %> style="display:none;"<% } %> >
              <div class="replyBg brSmall pr">
                  <div class="topicList floorList" id="fl_<%=replyList[i].pId%>">
                      <ul>
                      <% include('tmpl_reply_floor', {'floorList':replyList[i].floorList}) %>
                      </ul>
                      <a href="javascript:;" start="0" pid="<%=replyList[i].pId%>" <%if (replyList[i].restCount < 1) { %>style="display:none;"<% } %> class="db f12 moreInReply">更多</a>
                  </div>
              </div>
          </div>
      </div>
      </li>
    <% } %>
    <% } %>
  </script>

  <script id="tmpl_reply_floor" type="text/html">
    <% for (var k in floorList) { %>
        <% if (!isDOMExist('p_' + floorList[k].tId + '_' + floorList[k].pId + '_' + floorList[k].floorPId)) { %>
            <% if (floorList[k].floorPId > 0) { %>
                <li id="p_<%=floorList[k].tId%>_<%=floorList[k].pId%>_<%=floorList[k].floorPId%>" author="<%=floorList[k].author%>" uId="<%=floorList[k].authorUid%>">
                <div class="f13 c3 replyFloor">
                    <span class="c7"><%=floorList[k].author%><% if (floorList[k].isLZ) { %><i class="cardBtn br fn db c2">楼主</i><% } %><% if (floorList[k].toPId) { %> 回复 <%=floorList[k].toAuthor%><% } %>：</span><%==floorList[k].content%>
                </div>
                </li>
            <%} %>
        <% } %>
    <% } %>
  </script> 

  <script id="tmpl_replyForm" type="text/html">
    <div class="popLayer pSpace brNone" style="width:100%">
    <form method="post" id="replyForm">
        <input type="hidden" name="CSRFToken" value="2ffef155">
        <input type="hidden" name="tid" value="<%= data.tId %>">
        <input type="hidden" name="topid" value="<%= data.toPId %>">
        <div class="sendRCon">
            <textarea id="content" name="content" cols="" rows="" class="sInput f13" placeholder="回两句吧..."></textarea>
        </div>
        <div class="sendNav">
            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li><a id="cBtn" href="javascript:;" class="cancelNewBtn brSmall f13 db fr c3 close">取消</a></li>
                <li><a id="comBtn" href="javascript:;" class="sendBtn brSmall f13 db c2">发送</a>
                </li>
            </ul>
        </div>
        <div class="operatingBox">
            <div class="operatList tipLayer" style="display:none;margin:0;border:0;">
            </div>
            <div class="operatList photoTipsBox" style="display:none;height:213px;background-color:#efefef;border-top:1px solid #e2e2e2;">
                <div class="photoList">
                    <ul>
                        <li class="on" id="addPic">
                        <input type="file" class="on needsclick" style="z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="uploadFile" accept="image/*" single>
                        </li>
                    </ul>
                    <p class="textTip f12">还可上传<span id="onlyUploadNum">8</span>张照片呦~</p>
                </div>
            </div>
            
        </div>
    </form>
    </div>
  </script>

  <script id="tmpl_sideBar" type="text/html">
  </script>

  <script id="tmpl_customTag" type="text/html">
  </script>

{% end %}


{% block footer %}

  <div class="bottomBar" id="bottomBar">
   <a href="javascript:;" class="item cf iconReply threadReply" id="to_reply">添加评论</a>
  </div>

  <div id="goTop" class="floatLayer br db" style="display: none;">
   <a href="javascript:;" class="upBtn cf db"></a>
  </div>

  <form id="delThreadForm" name="delThreadForm" action="http://m.wsq.qq.com/264151824/t/del" method="post"> 
   <input type="hidden" name="CSRFToken" value="29bd4b09" /> 
   <input type="hidden" name="tIds[]" />
  </form>

  <div onclick="location.href='http://m.wsq.qq.com/93617818'" class="copyRight ht" style="display:none;">
   微社区，精彩在你身边
  </div>

  <script type="text/javascript">
    var shareUrl = 'http://m.wsq.qq.com/264151824/t/3569?_wv=1&source=custom',
    shareTitle = '分享自#龙门客栈#',
    shareDesc = '真是难为编剧了，上一部飞机、坦克、大炮都用完了，这一部玩起了空中飞车。真期待下一部导演和编剧会...',
    shareImgUrl = 'http://shp.qlogo.cn/gqclogo/0/264151824/200?max-age=2592000&amp;t=1426579479';
  </script>

  <script data-main="{{ static_url('js/comment') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}
