{% extends "base.html" %}


{% block header %}

  <title>龙门客栈</title>

{% end %}


{% block body %}

  <style>
   #wrap>div{-webkit-transform:translateZ(0);}/*注意这里*/
  </style>

  <div class="warp" style="display:none;" onselectstart="return false;"> 
  </div>

  <script id="tmpl_proposal" type="text/html">

<div class="detail" data-link="/topic?tid=<%= proposal['tId'] %>">
    <div class="detailTitle pr">
     <%= proposal['title'] %>
    </div>
   </div>

   <div class="detailBox">
    <div class="topicCon">

     <div class="titleWrap c11">

      <div class="personImgDate row pr"> 
       <div class="perImg pr"><img src="<%= proposal['avatar'] %>" class="bImg brBig" width="25" height="25" alt="avatar" /></div>

       <div class="col titleBottomWrap pr">
        <div class="nameWrap">
         <span class="userNick f14"><%= proposal['author'] %> </span>
         <span class="time f12"><%= proposal['hCreatedTime'] %></span>
        </div>

        <div class="private">私有</div>
       </div>
      </div>

     </div>

     <div class="detailCon c11 allowCopy"> 

      <div class="dCon f17">
        <%== proposal['content'].replace(/\n/g, '<br>') %>
      </div>
      <div class="threadPic pr"> 

      <% for (var i in proposal['picUrls']) { %>
        <span> <img class="dImg" data-src="<%= proposal['picUrls'][i]['origin'] %>"/> </span>
      <% } %>

      </div>

      <div class="operation oh"> 
       <span class="replyShare db c9 fr f13"> <a href="javascript:;" class="like c9" tid="3569"><i class="iconNoPraise f18 cf"></i>2</a> <a href="javascript:;" id="support" class="shareBtn c9" _qzone=""><i class="iconShare f18 cf"></i></a> <a href="javascript:;" class="threadReply c9" tid="3569" onclick=""><i class="iconReply f18 cf"></i><span id="rCount">2</span></a> </span> 
      </div>
     </div>
    </div>
   </div>

  </script>

{% end %}


{% block footer %}

  <div class="bottomBar pr" id="bottomBar" style="display:none;">
   <a href="javascript:;" class="item cf iconShare" id="to_forward">转发</a>
   <a href="/comments?tid={{ state['tid'] }}" class="item cf iconReply" id="to_reply">29</a>
   <a href="javascript:;" class="item cf iconNoPraise" id="to_like">2</a>
  </div>

  <div id="goTop" class="floatLayer br db" style="display: none;">
   <a href="javascript:;" class="upBtn cf db"></a>
  </div>

  <form id="delThreadForm" name="delThreadForm" action="http://m.wsq.qq.com/264151824/t/del" method="post"> 
   <input type="hidden" name="CSRFToken" value="29bd4b09" /> 
   <input type="hidden" name="tIds[]" />
  </form>

  <div class="loading" id="loadNext" > 
   <div class="spinner">
    <span class="circleG" id="rotateG_01"></span>
    <span class="circleG" id="rotateG_02"></span>
    <span class="circleG" id="rotateG_03"></span>
    <span class="circleG" id="rotateG_04"></span>
    <span class="circleG" id="rotateG_05"></span>
    <span class="circleG" id="rotateG_06"></span>
    <span class="circleG" id="rotateG_07"></span>
    <span class="circleG" id="rotateG_08"></span>
   </div>正在加载...
  </div> 

  <div class="hotLabel recommendTitle" style="display:none;">
  </div>

  <script type="text/javascript">
      var pId = "{{state['pid']}}";
  </script>

  <script type="text/javascript">
    var shareUrl = 'http://m.wsq.qq.com/264151824/t/3569?_wv=1&source=custom',
    shareTitle = '分享自#龙门客栈#',
    shareDesc = '真是难为编剧了，上一部飞机、坦克、大炮都用完了，这一部玩起了空中飞车。真期待下一部导演和编剧会...',
    shareImgUrl = 'http://shp.qlogo.cn/gqclogo/0/264151824/200?max-age=2592000&amp;t=1426579479';
  </script>

  <script data-main="{{ static_url('js/proposal') }}" src="{{ static_url('js/vendor/require.js') }}"></script>

{% end %}
